* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: Frutiger;
  src: url(../assets/Frutiger-Next.ttf);
}

:root {
    --green: #005245;
    --yellow: #ffcc00;
    --grey: #111111;
    --lightYellow: #EAE0B7;
    --white: #ffffff;
}

.headerDiv, .hero-bg, .wrapper, .subtext {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100vw;
}

.headerDiv {
    height: 5vh;
}

.hero-bg {
    height:80vh;
}

.subtext {
    height:15vh;
}

.subHeader {
    grid-column: 3/7;
    text-align: center;
    align-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: var(--green);
}

.subParagraph{
    grid-column: 3/7;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: var(--grey);
    font-size: 12pt;
}

.ricolaLogo {
    max-width: 150px;
    height: auto;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    align-self: center;
}

.hamburgerIcon {
    max-width: 35px;
    height: auto;
    grid-column-start: 7;
    align-self: center;
}

.ground {
    grid-row: 1/2;
    grid-column: 3/7;
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;
}

.wrapper {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,204,0,1) 50%);
    clip-path: polygon(1% 0, 99% 0, 98% 99%, 2% 99%);
    transition: all 0.5s ease-in-out 0;
}

/* CLOUDS */

.LeftCloudSmall{
    grid-column: 2/4;
    grid-row: 1/2;
    justify-self: center;
    transform: translateY(50%);
    width:40%;
    animation: lMove1 10s ease-in-out infinite;
    z-index: 1;

}

.LeftCloudBig{
    grid-column: 3/5;
    grid-row: 1/2;
    justify-self: center;
    transform: translateY(20%);
    width:40%;
    animation: lMove2 10s ease-in-out infinite;
    z-index: 1;
}

.RightCloud{
    grid-column: 5/7;
    grid-row: 1/2;
    justify-self: right;
    transform: translateY(40%) translateX(-20%);
    width:40%;
    animation: rMove 8s ease-in-out infinite;
    z-index: 1;
}

@keyframes rMove {
    0%{
        transform: translateY(60%)translateX(-20%);
    }
    50%{
        transform: translateY(50%)translateX(-20%);
    }
    100% {
        transform: translateY(60%)translateX(-20%);
    }
}

@keyframes lMove2 {
    0%{
        transform: translateY(20%);
    }
    50%{
        transform: translateY(35%);
    }
    100% {
        transform: translateY(20%);
    }
}

@keyframes lMove1 {
    0%{
        transform: translateY(50%);
    }
    50%{
        transform: translateY(35%);
    }
    100% {
        transform: translateY(50%);
    }
}



/* MOUNTAIN */

.Mountain {
    grid-column: 3/5;
    grid-row: 1/2;
    transform: translateY(0px);
    width:75%;
    align-self: center;
    transform: translate(13%, 3%);
    transition: 100ms ease-in-out;
}

.Mountain:hover {
    -webkit-filter: drop-shadow(0px 0px 7px rgba(0, 230, 251, 0.649))
        drop-shadow(2px 2px 1px rgba(0, 230, 251, 0.649))
        drop-shadow(-2px -2px 1px rgba(0, 230, 251, 0.649))
        contrast(200%);
    filter: drop-shadow(0px 0px 7px rgba(0, 230, 251, 0.649))
        drop-shadow(2px 2px 1px rgba(0, 230, 251, 0.649))
        drop-shadow(-2px -2px 1px rgba(0, 230, 251, 0.649))
        contrast(150%);
}


/* FACTORY */

.factory {
    grid-column: 4/6;
    grid-row: 1/2;
    transform: translateY(0px);
    width:45%;
    justify-self: center;
    align-self: center;
    transform: translate(-16%, -44%);
    transition: 100ms ease-in-out;
}

.factory:hover {
    -webkit-filter: drop-shadow(0px 0px 7px rgba(0, 230, 251, 0.649))
        drop-shadow(2px 2px 1px rgba(0, 230, 251, 0.649))
        drop-shadow(-2px -2px 1px rgba(0, 230, 251, 0.649))
        contrast(200%);
    filter: drop-shadow(0px 0px 7px rgba(0, 230, 251, 0.649))
        drop-shadow(2px 2px 1px rgba(0, 230, 251, 0.649))
        drop-shadow(-2px -2px 1px rgba(0, 230, 251, 0.649))
        contrast(150%);
}

/* FARM */

.farm {
    grid-column: 5/7;
    grid-row: 1/2;
    transform: translateY(0px);
    width:58%;
    justify-self: right;
    align-self: center;
    transform: translate(-7%, 29.5%);
    transition: 100ms ease-in-out;
}

.farm:hover {
    -webkit-filter: drop-shadow(0px 0px 7px rgba(0, 230, 251, 0.649))
        drop-shadow(2px 2px 1px rgba(0, 230, 251, 0.649))
        drop-shadow(-2px -2px 1px rgba(0, 230, 251, 0.649))
        contrast(200%);
    filter: drop-shadow(0px 0px 7px rgba(0, 230, 251, 0.649))
        drop-shadow(2px 2px 1px rgba(0, 230, 251, 0.649))
        drop-shadow(-2px -2px 1px rgba(0, 230, 251, 0.649))
        contrast(150%);
}

/* VILLAGE */

.village {
    grid-column: 4/6;
    grid-row: 1/2;
    transform: translateY(0px);
    width:58%;
    justify-self: center;
    align-self: center;
    transform: translate(25%, 110%);
    transition: 100ms ease-in-out;
}

.village:hover {
    -webkit-filter: drop-shadow(0px 0px 7px rgba(0, 230, 251, 0.649))
        drop-shadow(2px 2px 1px rgba(0, 230, 251, 0.649))
        drop-shadow(-2px -2px 1px rgba(0, 230, 251, 0.649))
        contrast(200%);
    filter: drop-shadow(0px 0px 7px rgba(0, 230, 251, 0.649))
        drop-shadow(2px 2px 1px rgba(0, 230, 251, 0.649))
        drop-shadow(-2px -2px 1px rgba(0, 230, 251, 0.649))
        contrast(150%);
}

/* PLAY BUTTON */

.PlayButton {
    height: 75px;
    width: 75px;
    border-radius: 50px;
    background-color: var(--lightYellow);
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    transform: translateY(100%);
    display: flex;
    z-index: 0;
    transition: 300ms ease-in-out;
}

.PlaySymbol {
    margin: 0 auto;
    transform: translate(3px, 22.5px);
    height: 40%;
    width: auto;
}

.PlayButton:hover {
    -webkit-filter: drop-shadow(0px 0px 7px rgba(251, 247, 0, 0.649))
        drop-shadow(2px 2px 1px rgba(251, 247, 0, 0.649))
        drop-shadow(-2px -2px 1px rgba(251, 247, 0, 0.649))
        contrast(120%);
    filter: drop-shadow(0px 0px 7px rgba(251, 247, 0, 0.649))
        drop-shadow(2px 2px 1px rgba(251, 247, 0, 0.649))
        drop-shadow(-2px -2px 1px rgba(251, 247, 0, 0.649))
        contrast(120%);
}

/* RASMUS */

.rasmus {
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 120px;
    justify-self: center;
    align-self: flex-end;
    transform: translateY(-20%);
    transition: 500ms ease-in-out;
}

.rasmus:hover {
    -webkit-filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.649))
        drop-shadow(2px 2px 1px rgba(255, 255, 255, 0.649))
        drop-shadow(-2px -2px 1px rgba(255, 255, 255, 0.649));

    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.649))
        drop-shadow(2px 2px 1px rgba(255, 255, 255, 0.649))
        drop-shadow(-2px -2px 1px rgba(255, 255, 255, 0.649));
}

/* Accent Text */
.accentText {
    grid-column: 7/9;
    grid-row: 1/2;
    justify-self: center;
    align-self: flex-end;
    transform: translate(0, -35%);
    font-family: Frutiger;
    color: var(--green);
    max-width: 250px;
    font-size: 18px;
}

.accentHeader {
    font-weight: 600;
}

.accentUnder {
    font-weight: 200;
    font-size: 16px;
}

.horizontalRule {
    width: 50px;
    height: 1px;
    background-color: var(--green);
    margin-top: 20px;
}

/* BUTTONS */
.HeroButton {
    width:30px;
    background-color:var(--green);
    border-radius: 50px;
    height:30px;
    grid-column: 2/3;
    display:flex;
    grid-row: 1/2;
    justify-self: center;
    transition: ease-in-out 100ms;

}

.plusIcon{
    width:40%;
    margin: 0 auto;
}
#Nature, #People, #Business, #x-Ricola {
    background-color:var(--green);
    border-radius: 50px;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

#Nature{
    align-self:center;
    transform: translateY(-100%) translateX(0%);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#People{
    align-self:center;
    transform: translateY(300%);
}

#Business{
    align-self:center;
    justify-self: left;
    grid-column: 7/9;
    transform: translateY(150%)translateX(200%);
}

#x-Ricola{
    align-self:center;
    justify-self: left;
    grid-column: 7/9;
    transform: translateY(-250%)translateX(200%);
}

#Nature span, #People span, #Business span, #x-Ricola span {
    margin: 0 auto;
    padding-bottom: 1px;
}

#Nature:hover span, #x-Ricola:hover span, #Business:hover span, #People:hover span {
    opacity: 0;

}

#Nature:hover:before {
    content: "Nature";
}

#Nature:hover ~ .Mountain {
    -webkit-filter: drop-shadow(0px 0px 7px rgba(0, 230, 251, 0.649))
    drop-shadow(2px 2px 1px rgba(0, 230, 251, 0.649))
    drop-shadow(-2px -2px 1px rgba(0, 230, 251, 0.649))
    contrast(200%);
filter: drop-shadow(0px 0px 7px rgba(0, 230, 251, 0.649))
    drop-shadow(2px 2px 1px rgba(0, 230, 251, 0.649))
    drop-shadow(-2px -2px 1px rgba(0, 230, 251, 0.649))
    contrast(150%);
}

#Business:hover:before {
    content: "Business";
}

#People:hover:before {
    content: "People";
}

#x-Ricola:hover:before {
    content: "Ricola";
}

#Nature:hover:before, #x-Ricola:hover:before , #Business:hover:before , #People:hover:before {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 8px 16px;
    background-color:var(--green);
    border-radius: 50px;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    transform: translateX(-35%);
}


/* CARD SECTION */
.cardSection{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cardHeader{
    grid-column: 1/11;
    width:100%;
}
.cardHeader img{
    margin: 7vh auto;
    display:block;
}

.cardHeader h3{
    text-align: center;
    align-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: var(--green);
}
.hr{
    width:100px;
    margin: 5vh auto;
    display:block;
}

.cardContainer{
    grid-column: 2/10;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 35vh;
    grid-auto-flow: rows;
    margin-bottom: 10vh;
}

.cardContainer div:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1 / 2;
  }

.cardContainer div:nth-child(2) {
    grid-column: 3/5;
    grid-row: 1 / 2;
  }
.cardContainer div:nth-child(3) {
    grid-column: 5/7;
    grid-row: 1 / 2;
 }

 .cardContainer div:nth-child(4) {
    grid-column: 7/9;
    grid-row: 1 / 2;
 }

 .cardContainer div:nth-child(5) {
    grid-column: 1/5;
    grid-row: 2 / 3;
 }

 .cardContainer div:nth-child(6) {
    grid-column: 5/7;
    grid-row: 2 / 3;
 }

 .cardContainer div:nth-child(7) {
    grid-column: 7/9;
    grid-row: 2 / 3;
 }
 .cardContainer div:nth-child(8) {
    grid-column: 1/3;
    grid-row: 3 / 4;
 }
 .cardContainer div:nth-child(9) {
    grid-column: 3/5;
    grid-row: 3 / 4;
 }
 .cardContainer div:nth-child(10) {
    grid-column: 5/9;
    grid-row: 3 / 4;
 }
 .card{
     padding: 1vw;
 }

 .card span, .card h3{
     color: var(--white);
 }

 .card span{
     font-size: 40px;
     font-weight: 700;
 }
 .arrowDown{
    animation: bounce 5s;
 }
 @keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-12px);
    }
  }